{% extends 'base.html' %}

{% block content %}
<div class="todo-list">
    <h2>To-Do Items</h2>

    <ul id="todo-items">
        {% for todo in todos %}
            <li>
                <input type="checkbox" {% if todo.completed %} checked {% endif %} disabled> 
                {{ todo.text }}
            </li>
        {% endfor %}
    </ul>

    <form id="add-todo-form">
				{% csrf_token %}
        <input type="text" id="new-todo" placeholder="Add new task" required>
        <button type="submit">Add Todo</button>
    </form>
</div>

<script>
	document.getElementById('add-todo-form').addEventListener('submit', function(event) {
			event.preventDefault();
			const newTodoText = document.getElementById('new-todo').value;
			const csrfToken = document.getElementById('add-todo-form').querySelector(
				"[name=csrfmiddlewaretoken]"
			).value;
			
			fetch('/add', {
					method: 'POST',
					body: new URLSearchParams({
							'text': newTodoText
					}),
					headers: {
							'Content-Type': 'application/x-www-form-urlencoded',
							'X-CSRFToken': csrfToken,
					}
			}).then((response) => {
					if (response.status === 200) {
							window.location.reload();  // Reload the page to show the new to-do
					}
			});
	});
</script>	
{% endblock %}
