{% extends 'base.html' %}

{% block content %}
<div class="todo-list">
    <h2>To-Do Items</h2>

    <ul id="todo-items">
        {% if todos %}
            {% for todo in todos %}
                <li id="todo-{{ todo.id }}">
                    <form id="update-todo-item-{{ todo.id }}">
                    {% csrf_token %}
                        <input type="checkbox" data-todo-id="{{ todo.id }}" name="completed" {% if todo.completed %} checked {% endif %}>
                    </form>
                    {{ todo.text }}
                </li>
            {% endfor %}
        {% else %}
            <p>No to-dos yet.</p>
        {% endif %}
    </ul>

    <form id="add-todo-form">
        {% csrf_token %}
        <input type="text" id="new-todo" name="new-todo" placeholder="Add new task" required>
        <button type="submit">Add Todo</button>
    </form>
</div>

<script>
    document.querySelectorAll('input[name="completed"]').forEach(function(element) {
        element.addEventListener('change', function(event) {
            const checkbox = this;
            const checkboxOriginalState = !checkbox.checked;
            const checkboxId = this.dataset.todoId;
            const formData = new FormData();
            formData.append('id', checkboxId);
            const csrfToken = document.getElementById(`update-todo-item-${checkboxId}`).querySelector(
                "[name=csrfmiddlewaretoken]"
            ).value;

            fetch('/update', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': csrfToken,
                }
            })
            .then((response) => {
				if (!response.ok) {
					throw new Error("Network response error");
				}

				return response.json();
			})
            .then((data) => {
                if (data.success) {
                    checkbox.checked = data.new_todo_completed;
                } else {
                    checkbox.checked = checkboxOriginalState;
                    console.warn('Update failed:', data.error);
                }
            }).catch((error) => {
                checkbox.checked = checkboxOriginalState;
                console.error('An error occurred:', error);
            });
        });
    });

    document.getElementById('add-todo-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(document.getElementById('add-todo-form'));
        const csrfToken = document.getElementById('add-todo-form').querySelector(
            "[name=csrfmiddlewaretoken]"
        ).value;

        fetch('/add', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': csrfToken,
            }
        }).then((response) => response.json())
        .then((data) => {
            if (data.id) {
                const todoList = document.getElementById('todo-items');
                const newTodoItem = document.createElement('li');
                newTodoItem.id = 'todo-' + data.id;
                newTodoItem.innerHTML = `<input type="checkbox" disabled ${data.completed ? 'checked' : ''}> ${data.text}`;
                todoList.appendChild(newTodoItem);

                // Clear the input field
                document.getElementById('new-todo').value = '';
            } else {
                alert('Error: ' + data.error);
            }
        }).catch(error => {
            alert('An error occurred. Please try again.');
        });
    });
</script>
{% endblock %}
